body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

iframe {
  /* Control the height of the image */
  height: 1000px;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
